footer{
  margin-top: 2rem;
  /* background-color: gray; */
}

footer ul li {
  list-style: none;
  font-weight: 600;
  margin: 0.5rem 0;
}

footer ul li:first-child{
  font-weight: bolder;
}
footer ul li:nth-child(2){
  color: blue;
}
footer .icons {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 1rem;
  /* margin-top: 0.5rem; */
}
footer ul li a{
  text-decoration: none;
}
.bg{
  background-color: #2c2c2c;
  color: white;
}

@media screen and (min-width:768px) {
  .footer-content{
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .footer-content {
    max-width: 1200px;
    margin: auto;
    gap: 40px;
  }
}
