footer {
  background-color: #2c2c2c;
  color: white;
  padding: 1rem;
  width: 100%;
  margin: auto;
}
footer img{ 
  height: 100px;
  width: 200px; 
}

footer ul {
  padding: 0px;
}

footer ul li {
  list-style: none;
  font-weight: 600;
  margin-left: 0px;
  /* margin: 0.5rem 0; */
}

footer ul li:first-child{
  font-weight: bolder;
}
footer ul li:nth-child(2){
  color: blue;
}
footer .icons {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 1rem;
  /* margin-top: 0.5rem; */
}
footer ul li a{
  text-decoration: none;
}

/* .bg{
  background-color: #2c2c2c;
  color: white;
  padding: 1rem;
  width: 100%;
  margin: auto;
} */

 @media screen and (min-width:768px) {
  footer img {
  height: 100px;
  width: 200px;
  }
  .footer-content{
    display: flex;
    flex-direction: row;
    /* background-color: yellow; */
    gap: 24px;
  }
} 

@media screen and (min-width: 1024px) {
   footer img {
  height: 200px;
  width: 300px;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: tomato;
    gap: 40px;
  }
}
