.nav-btns {
  gap: 2rem;
}

.navbar-links{
  list-style: none;
  margin-right: 1.5rem;
  /* display: flex; */
  align-items: center;
  justify-content: space-around;
  width: 100%;

}.btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  text-align: center;
}