/* Base */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.navbar-links a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}
.navbar-links a:hover{
  border: solid 2px blue;
  border-radius: 20px;
  color: blue;
  padding: 0.5rem 1rem;
}

.nav-btns {
  display: flex;
  gap: 1rem;
}
.nav-btns *:first-child{
  background-color: blue;
  border-radius: 20px;
  color:white;
  padding: 0.5rem 1rem;
}

.btn {
  /* padding: 0.5rem 1.5rem; */
  /* border-radius: 999px; */
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 20px;
  /* color: white; */
}

/* Hamburger */
/* .hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
} */

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  inset: 0;
  background-color: #1e5c8b;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 1rem; */
  z-index: 100;
}

.mobile-menu ul {
  list-style: none;
  /* text-align: center; */
  padding-left: 0;

}

.mobile-menu li {
  /* padding: 0.5rem; */
  margin: 1.5rem 1rem ;
  font-size: 1.2rem;
  text-align: center;
  /* justify-items: center; */
}

.mobile-menu a {
  color: white;
  text-decoration: none;
}
.mobile-menu a:hover{
  border: solid 2px white;
  border-radius: 20px;
  padding: 0.5rem 2rem;
}

.mobile-buttons {
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
  /* align-items: center; */
  /* justify-content: center; */
  gap: 1rem;
}
/* .mobile-menu button .close-btn{
  border: none;
} */
/* 
.mobile-menu .close-btn {
  border: none;
  align-self: flex-end;
  margin-left: 250px;
} */

/* Button styles in mobile */
.btn.white {
  background: white;
  color: #1e5c8b;
  font-size: 1.2rem;

}

.btn.transparent {
  background: transparent;
  /* border: 1px solid white; */
  color: white;
  font-size: 1rem;

}

/* Responsive */
@media (max-width: 768px) {
  .desktop {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
